@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar {
    padding: 0.5%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    color: var(--tx-color);
}

.navbar img {
    padding: 1.5%;
    width: 12%;
}

.mode {
    width: 100%;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        padding: 2%;
        justify-content: center;
    }
    .navbar img {
        padding: 1%;
        width: 10%;
    }
    .mode {
        width: 100%;
        justify-content: center;
    }
    .search {
        padding: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        justify-content: center;
    }
    .search input {
        padding: 3%;
    }
}