* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

.app_nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.app_body {
    margin-top: 60px;
}

[data-theme="light"] {
    --tx-color: #000000;
    --bg-color: #38D9A9;
    --bx-shadow: #000000;
    --bdy-color: #36A181;
    --crd-color: #dddddd;
    --up-color: #1BAE1B;
    --dwn-color: #AE1B1B;
}

[data-theme="dark"] {
    --tx-color: #ffffff;
    --bg-color: #367462;
    --bx-shadow: #ffffff;
    --bdy-color: #2B3F39;
    --crd-color: #ffffff;
    --up-color: #00FF00;
    --dwn-color: #FF0000;
}

@media screen and (max-width: 768px) {
    .app_body {
        margin-top: 85px;
    }
}